@use "variables" as v;

body {
    margin-left: 25px;
    margin-right: 25px;
    background-color: v.$nieve;

    .descuentos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "d1 d2 d3 d4";
        /* una sola fila */
        gap: 20px;
        align-items: center;
        justify-items: center;
    }

    .d1 {
        grid-area: d1;
    }

    .d2 {
        grid-area: d2;
    }

    .d3 {
        grid-area: d3;
    }

    .d4 {
        grid-area: d4;
    }

    .descuentos img {
        width: 100%;
        height: 25vh;
    }


    .pink {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "f5 f2 f1"
            "f3 f4 f1";
        align-items: center;
        justify-items: center;
    }

    .f1 {
        grid-area: f1;
    }

    .f2 {
        grid-area: f2;
    }

    .f3 {
        grid-area: f3;
    }

    .f4 {
        grid-area: f4;
    }

    .f5 {
        grid-area: f5;
    }

    .pink img {
        height: 25vh;
        width: auto;
        margin: 0;
    }


    @include v.mobile {
        .pink {
            grid-template-columns: 1 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "f1"
                "f2"
                "f3"
                "f4"
                "f5";
            align-items: center;
            justify-items: center;
            row-gap: 12px;

            .f1 
            .f2,
            .f3,
            .f4,
            .f5 {

                width: 50vw;
                margin: 0 auto;
                text-align: center;
            }

            .pink img {
                margin: 0;
                width: 100%;
                height: 25vh;
            }


        }

        .descuentos {
            grid-template-columns: 1 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "d1"
                "d2"
                "d3"
                "d4";
            justify-items: center;
            align-items: center;
            justify-content: center;
            margin: 0;
            row-gap: 12px;

            .d1,
            .d2,
            .d3,
            .d4 {
                width: 50vw;
                margin: 0 auto;
                text-align: center;
            }

            .descuentos img {
                margin: 0;
                width: 100%;
                height: 25vh;
            }
        }

    }


}

@include v.tablet {

    .pink {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "f5 f2 f1"
            "f3 f4 f1";
        align-items: center;
        justify-items: center;
    }

    .pink img {
        height: 10vh;
        width: 20vw;

    }

}

.descuentos {
    grid-template-columns: 2 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "d1 d2"
        "d3 d4";
    justify-items: center;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    row-gap: 12px;
}